@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo-2</h1>
    <p>Simple web app on ASP.NET Core</p>
    <p><a href="/Users/Index">Users table</a></p>
</div>
